<%- include(viewPath('home/panel/head')) %>

<ul>
<li><b>نام کاربری</b> : <%= auth.user.name %></li>
<li><b>ایمیل کاربری</b> : <%= auth.user.email %></li>
<li><b>زمان بندی پایان اعتبار</b> :1ماه دیگر</li>
</ul>